.container {
    height: 100%;
    align-content: center;
    padding-top: 5%;
}

.card{
    height: 400px;
    margin: auto;
    margin-bottom: auto;
    width: 500px;
  
    background-color: rgba(209, 208, 135, 0.5);
}

.form-check-lebel{
    padding: 20px;
}

.btn{
    
    position: relative;
    padding-left: 50px;

}
.body {
    background-color: rgba(114, 8, 79, 0.5);
}

.p {
    font: bold;
}
.footer {
    position:relative ;
    padding-left: 15%;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #222222;
}

.form-group {
    position: relative;
    padding-top: auto;
   
}
.d-flex {
    padding-left: 20px;
    padding-right: 20px;
}





