<div class="jumbotron text-center">
  <h2>{{pageTitle}}</h2>
</div>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h4>Allay pharmaceuticals Document Control</h4>
			</div>
			<div class="card-body">
		<form>
			<div class="form-group">
            	Email: <input type="text" class="form-control" name="email" [(ngModel)] = "email"
				placeholder="abc@zyx.com" formControlname="email" required>
			</div>
			<div class="form-group">
        		Password:<input type="password" class="form-control" name="password" [(ngModel)] = "password"
				formControlname="password" required placeholder="*********" >     
        	</div>
      		<div class="form-group">
        		Confirm Password:<input type="password" class="form-control" name="confirmPassword" [(ngModel)] = "confirmPassword"
				formControlname="confirmPassword" required placeholder="*********" > 
      		</div>	      
		</form>
			<div class="d-flex justify-content-between">
				<button (click) = submit()>Submit</button>
			 	<button (click) = cancel()>Cancel</button>
			</div>
		</div>
			
		<footer class="footer" >
				<span class="text-muted">All Rights Reserved 2021 @Allay Pharmaceuticals LLC</span> 
		</footer>
    	</div>
	</div>
</div>>
    

