<div class="jumbotron text-center">
   <h1>{{pageTitle}}</h1> 
    <h2>Who we are?</h2>
    <p>We the with people where people need us!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <div class="thumbnail">
                <a href="/assets/lights.jpg" target="_blank">
                    <img src="/assets/lights.jpg" alt="Lights" style="width:100%">
                    <div class="caption">
            <p>This is ------------------------------------
                -------------------------------------------
                --------------------------------------------
                --------------------------------------------
                ---------------------------------------------
                -----------------------------------------------
            </p>
        </div>
        </a>
        </div>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <div class="thumbnail">
                <a href="/assets/fjords.jpg" target="_blank">
                    <img src="/assets/fjords.jpg" alt="Lights" style="width:100%">
                    <div class="caption">
            <p>This is ------------------------------------
                -------------------------------------------
                --------------------------------------------
                --------------------------------------------
                ---------------------------------------------
                -----------------------------------------------
            </p>
        </div>
        </a>
        </div>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <div class="thumbnail">
                <a href="/assets/nature.jpg" target="_blank">
                    <img src="/assets/nature.jpg" alt="Lights" style="width:100%">
                    <div class="caption">
            <p>This is ------------------------------------
                -------------------------------------------
                --------------------------------------------
                --------------------------------------------
                ---------------------------------------------
                -----------------------------------------------
            </p>
        </div>
        </a>
        </div>
    </div>
    

    
    
</div>